################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Senshost-APP/bin/Debug/net8.0-android
/Senshost-APP/obj
